H1,H2,H3,P,TD {
  font-family: sans-serif;
}

body {
  background-color: #919AC9;
  border: none;
  font-family: verdana, sans-serif;
  color: white;
}

a {
    color: white;
	 background-color: #919AC9
	 ;
}

input, select, submit {
  color: white;
  background-color: #363E68;
  border: 1px #919AC9 solid;
  font-weight: bold;
  font-family: verdana, sans-serif;
}

.shell {
   background-color: #4C558E;
   border: 3px #363E68 solid;
	color: white;
}

.head {
  font-weight: normal;
  font-size: 22pt;
}

.head a {
  font-size: 12pt;
}

.menu {
  font-size: 14pt;
  font-weight: bold;
}

.menu a {
   color: white;
	background-color: #919ac9;
}

.menuSelected {
  background-color: #363E68;
  width: 150px;
  color: white;
}

.menuStandard {
  background-color: #4C558E;
  width: 150px;
  color: white;
}


.rowEven {
    background-color: #4C558E;
	 color: white;
}

.rowOdd {
    background-color: #363E68;
	 color: white;
}

.footer {
    background-color: #4C558E;
    border: 3px #252A49 solid;
	 color: white;
}

table.stabColor01 {
	border: 1px solid Black;
}

table.stabColor03 {
	border: 3px solid Black;
}

td.stabColor01 {
	border: 1px solid Black;
}

td.naked {
	padding: 0px; 
	margin: 0px; 
	border: none
}

