H1,H2,H3,P,TD {
  font-family: sans-serif;
}

body {
  background-color: #FFFFFF;
  font-family: sans-serif;
  color: #000000;
}

.head {
  font-weight: normal;
  font-size: 22pt;
}

.shell {
    background-color: #ededca;
    border: 3px #cccc99 solid;
	 color: #000000;
}

.head a {
  font-size: 12pt;
}

.menu {
  font-size: 14pt;
  font-weight: bold;
}

.menuSelected {
  background-color: #cccc99;
  width: 150px;
  color: #000000;
}

.menuStandard {
  background-color: #ededca;
  width: 150px;
  color: #000000;
}

.rowEven {
    background-color: #ededca;
	 color: #000000;
}

.rowOdd {
    background-color: #dfdfaf;
	 color: #000000;
}

table.stabColor01 {
	border: 1px solid Black;
}

table.stabColor03 {
	border: 3px solid Black;
}

td.stabColor01 {
	border: 1px solid Black;
}

td.naked {
	padding: 0px; 
	margin: 0px; 
	border: none
}
