H1,H2,H3,P,TD {
  font-family: sans-serif;
}

body {
  background-color: #999999;
  font-family: Verdana, sans-serif;
  color: white;
}

a {
    color: white;
	 background-color: transparent;
}


input, select, submit {
  color: black;
  background-color: #C1C1C1;
  border: 1px white outset;
  font-size: 9pt;
  font-weight: normal;
}

.shell {
   background-color: #344FB2;
   border: 1px black outset;
   width: 98%;
	color: white;
}

table.head {
  font-weight: normal;
  letter-spacing: 0.4em;
  text-transform: capitalize;
  font-size: 11pt;
  width: 100%;
}

table.head a {
  font-size: 9pt;
  text-decoration: none;
  letter-spacing: 0.0em;
}

.menu {
  font-size: 9pt;
  width: 100%;
}

.menu a {
   color: white;
   text-decoration: none;
	background-color: transparent;
}

.menuSelected {
  background-color: #23367D;
  width: 12%;
  border: 1px black solid;
  height: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: white;
}

.menuStandard {
  background-color: #344FB2;
  width: 12%;
  border: 1px black solid;
  height: 20px;
  letter-spacing: 0.1em;
  color: white;
}

.main {
  font-size: 11px;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  text-transform: capitalize;
}
.content {
  font-size: 9pt;
  font-weight: normal;
}

.content th {
  font-size: 9pt;
  font-weight: normal;
}

.rowEven {
    background-color: #6B76A1;
	 color: white;
}

.rowOdd {
    background-color: #344FB2;
	 color: white;
}

table.footer {
   background-color: #344FB2;
   border: 1px black solid;
	color: white;
	width: 100%;
	margin-top: 1em;
}

table.stabColor01 {
	border: 1px solid #6B76A1;
}

table.stabColor03 {
	border: 1px solid #6B76A1;
}

td.stabColor01 {
	border: 1px solid #6B76A1;
}

td.naked {
	padding: 0px; 
	margin: 0px; 
	border: none
}

td.openMessageCloser {
	text-align: right;
}

.menuIndent {
	width: 14%;
}

td.accuracy0to49 {
	background-color: red;
	color: black;
}

td.accuracy50to93 {
	background-color: yellow;
	color: black;
}

td.accuracy94to100 {
	background-color: green;
	color: black;
}

div.error01 {
	background-color: transparent;
	color: red;
	font-size: larger;
}

div.error02 {
	background-color: transparent;
	color: red;
}

span.graphFont {
	font-size: x-small;
}

span.bucketsLabel {
	font-weight: bold;
}

span.magnetsLabel {
	font-weight: bold;
}

span.securityLabel {
	font-weight: bold;
}

span.configurationLabel {
	font-weight: bold;
}
		
span.advancedLabel {
	font-weight: bold;
}
		
span.passwordLabel {
	font-weight: bold;
}

span.sessionLabel {
	font-weight: bold;
}

table.historyWidgetsTop {
	width: 100%;
	margin-left: 1.5em;
	margin-top: 0.6em;
	margin-bottom: 1.0em;
}

table.historyButtonsBottom {
	width: 100%;
	margin-top: 0.6em;
}

td.historyNavigatorTop {
	text-align: right;
}

td.historyNavigatorBottom {
	text-align: right;
}

tr.rowHighlighted {
	background-color: #000000;
	color: #eeeeee;
}

td.logo2menuSpace { 
	height: 0.8em;
}

a.changeSettingLink {
	background-color: transparent ;
	color: #aabbcc ;
}

td.footerBody { 
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

span.bucketsWidgetState {
	font-weight: bold;
}

span.configWidgetState {
	font-weight: bold;
}

span.securityWidgetState {
	font-weight: bold;
}
