H1,H2,H3,P,TD {
  font-family: sans-serif;
}

body {
  background-color: #D7E9D9;
  font-family: arial, sans-serif;
  color: white;
}

a {
    color: white;
	 background-color: transparent;
}

input, select, submit {
  color: white;
  background-color: #7AAC80;
  border: 1px white solid;
  font-size: 8pt;
  font-weight: normal;
}

.shell {
   background-color: #7AAC80;
   border: 1px white dashed;
	color: white;
}

.head {
  font-weight: normal;
  font-size: 12pt;
}

.head a {
  font-size: 10pt;
}

.menu {
  font-size: 10pt;
}

.menu a {
   color: white;
	background-color: transparent;
}

.menuSelected {
  background-color: #7AAC80;
  width: 65px;
  border: 1px white dashed;
  height: 20px;
  color: white;
}

.menuStandard {
  background-color: #2A582F;
  width: 80px;
  border: 1px black solid;
  height: 20px;
  color: white;
}

.main {
  font-size: 12px;
}

h2 {
  font-size: 12pt;
  font-weight: bold;
}
.content {
  font-size: 10pt;
  font-weight: normal;
}

.content th {
  font-size: 10pt;
  font-weight: normal;
}

.rowEven {
    background-color: #2A582F;
	 color: white;
}

.rowOdd {
    background-color: #3A8643;
	 color: white;
}

.footer {
   background-color: #7AAC80;
   border: 1px white dashed;
	color: white;
}

table.stabColor01 {
	border: 1px solid Black;
}

table.stabColor03 {
	border: 3px solid Black;
}

td.stabColor01 {
	border: 1px solid Black;
}

td.naked {
	padding: 0px; 
	margin: 0px; 
	border: none
}



