H1,H2,H3,P,TD {
  font-family: sans-serif;
}

body {
  background-color: #FFFFFF;
  border: none;
  font-family: sans-serif;
  color: black;
}

.head {
  font-weight: normal;
  font-size: 22pt;
  background: #ffffcc;
  color: black;
}

.shell {
    background-color: #ffffcc;
    border: 3px #ff9966 solid;
     color: black;
}

.head a {
  font-size: 12pt;
}

.menu {
  font-size: 14pt;
  font-weight: bold;
}

.menuSelected {
  background-color: #ff9966;
  width: 150px;
  color: #1E3B75;
}

.menuStandard {
  background-color: #ffcc99;
  width: 150px;
  color: #1E3B75;
}


.rowEven {
    background-color: #ffffcc;
     color: black;
}

.rowOdd {
    background-color: #ffcc99;
     color: black;
}

hr {
    color: gray; 
     background-color: transparent;
}

table.stabColor01 {
    border: 1px solid #ffcc99;
}

table.stabColor03 {
    border: 3px solid #ffcc99;
}

td.stabColor01 {
    border: 1px solid #ffcc99;
}

td.naked {
    padding: 0px; 
    margin: 0px; 
    border: none
}
