body {
background-image : url("chipped_obsidian.gif");
background-color : #ccccdd; 
border-bottom : 1px solid #000033; 
border-left : 1px solid #eeeeee; 
border-right : 1px solid #000033; 
border-top : 1px solid #eeeeee; 
color : #000066; 
font-family : "new century schoolbook", times, serif; 
margin-bottom : 20px; 
margin-left : 20px; 
margin-right : 20px; 
margin-top : 10px; 
}

table.head {
background-image : url("metalback.gif"); 
color : #000000; 
font-family : "bookman old style", "new century schoolbook", times, serif; 
font-size : 175%; 
font-weight : bold; 
background-color: black;
width: 100%;
} 

.shell {
border-bottom : 3px solid #000033; 
border-left : 3px solid #eeeeee; 
border-right : 3px solid #000033; 
border-top : 3px solid #eeeeee; 
font-family : "new century schoolbook", times, serif; 
color : #000000; 
background-color : #ccccff; 
background-image : url("metalback.gif"); 
} 

a:link {
border-bottom : 1px dashed ; 
text-decoration : none; 
color : #000066; 
background-color: transparent;
} 

a:visited {
border-bottom : 1px solid #000066; 
text-decoration : none; 
color : #000066; 
background-color: transparent;
} 

a:hover {
border-bottom : 3px solid #ff0000; 
color : #ff0000; 
background-color: transparent;
} 

a.dash:link {
border-bottom : 1px dashed #eeeeee; 
}
 
a.dash:visited {
border-bottom : 1px dashed #eeeeee; 
} 

a.dash:hover {
border-bottom : 3px solid #ff0000; 
} 

h2 {
font-family : "new century schoolbook", times, serif; 
} 

table.head a {
font-family : "new century schoolbook", times, serif; 
font-size : 60%; 
} 

.main {
font-size : 12px; 
} 

.content {
font-size : 80%; 
font-weight : normal;
} 

.content th {
font-size : 80%; 
font-weight : bold; 
} 

.menu {
font-weight : bold;
font-size : 140%;
width: 100%;
background-image : url("metalback.gif");
}

.menustandard {
background-image : url("metalback.gif");
border-bottom : #000033 3px solid; 
border-left : #eeeeee 3px solid; 
border-right : #000033 3px solid; 
border-top : #eeeeee 3px solid; 
width : 14%; 
color: black;
background-color: transparent;
}

.menuselected {
background-image : url("metalback.gif");
border-bottom : #eeeeee 3px solid; 
border-left : #000033 3px solid; 
border-right : #eeeeee 3px solid; 
border-top : #000033 3px solid; 
width : 14%; 
}

.menuspacer {
background-color : #ccccdd;
background-image : url("chipped_obsidian.gif");
width : 5px; 
color: black;
}

table.footer {
background-color : #ccccff; 
border-bottom : 3px solid #eeeeee; 
border-left : 3px solid #000033; 
border-right : 3px solid #eeeeee; 
border-top : 3px solid #000033; 
color : #000033; 
background-image : url("metalback.gif"); 
width: 100%;
margin-top: 1em;
}
 
submit {
background-color : #cccccc; 
background-image : url("metalback.gif"); 
border-bottom : 3px solid #000033; 
border-left : 3px solid #eeeeee; 
border-right : 3px solid #000033; 
border-top : 3px solid #eeeeee; 
color : #000033; 
font-family : times, serif; 
font-size : 100%; 
font-weight : bold; 
margin-left : 3px; 
margin-right : 3px; 
} 

select {
background-image : url("metalback.gif"); 
background-color : #ffffff; 
border-bottom : 3px solid #000033; 
border-left : 3px solid #eeeeee; 
border-right : 3px solid #000033; 
border-top : 3px solid #eeeeee; 
color : #333366; 
font-family : times, serif; 
font-size : 100%; 
font-weight : bold; 
margin-left : 3px; 
margin-right : 3px; 
} 

input {
background-image : url("metalback.gif"); 
background-color : #ffffff; 
border-bottom : 3px solid #000033; 
border-left : 3px solid #eeeeee; 
border-right : 3px solid #000033; 
border-top : 3px solid #eeeeee; 
color : #000033; 
font-family : courier, monospace; 
font-size : 100%; 
margin-left : 3px; 
margin-right : 3px; 
} 

table.stabcolor01 {
	border: 1px solid black;
}

table.stabcolor03 {
	border: 3px solid black;
}

td.stabcolor01 {
	border: 1px solid black;
}

td.naked {
	padding: 0px; 
	margin: 0px; 
	border: none
}

td.openmessagecloser {
	text-align: right;
}

.menuindent {
	width: 8%;
	background-image : url("chipped_obsidian.gif");	
}

td.accuracy0to49 {
	background-color: red;
	color: black;
}

td.accuracy50to93 {
	background-color: yellow;
	color: black;
}

td.accuracy94to100 {
	background-color: green;
	color: black;
}

div.error01 {
	background-color: transparent;
	color: red;
	font-size: larger;
}

div.error02 {
	background-color: transparent;
	color: red;
}

span.graphfont {
	font-size: x-small;
}

span.bucketslabel {
	font-weight: bold;
}

span.magnetslabel {
	font-weight: bold;
}

span.securitylabel {
	font-weight: bold;
}

span.configurationlabel {
	font-weight: bold;
}
		
span.advancedlabel {
	font-weight: bold;
}
		
span.passwordlabel {
	font-weight: bold;
}

span.sessionlabel {
	font-weight: bold;
}

table.historywidgetstop {
	width: 100%;
	margin-left: 1.5em;
	margin-top: 0.6em;
	margin-bottom: 1.0em;
}

table.historybuttonsbottom {
	width: 100%;
	margin-top: 0.6em;
}

td.historynavigatortop {
	text-align: right;
}

td.historynavigatorbottom {
	text-align: right;
}

tr.rowhighlighted {
	background-color: #000000;
	color: #eeeeee;
}

td.logo2menuspace { 
	height: 0.8em;
}

a.changesettinglink {
	background-color: transparent ;
	color: #0000cc ;
}

td.footerbody { 
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
}

