BODY {
BACKGROUND-COLOR : #CCCCDD; 
BACKGROUND-IMAGE : url("chipped_obsidian.gif"); 
BORDER-BOTTOM : 1PX SOLID #000033; 
BORDER-LEFT : 1PX SOLID #EEEEEE; 
BORDER-RIGHT : 1PX SOLID #000033; 
BORDER-TOP : 1PX SOLID #EEEEEE; 
COLOR : #000066; 
FONT-FAMILY : "New Century Schoolbook", Times, serif; 
MARGIN-BOTTOM : 20PX; 
MARGIN-LEFT : 20PX; 
MARGIN-RIGHT : 20PX; 
MARGIN-TOP : 10PX; 
} 
.HEAD {
BACKGROUND-IMAGE : url("metalback.gif"); 
COLOR : #000000; 
FONT-FAMILY : "Bookman Old Style", "New Century Schoolbook", Times, serif; 
FONT-SIZE : 175%; 
FONT-WEIGHT : BOLD; 
} 
.SHELL {
BORDER-BOTTOM : 3PX SOLID #000033; 
BORDER-LEFT : 3PX SOLID #EEEEEE; 
BORDER-RIGHT : 3PX SOLID #000033; 
BORDER-TOP : 3PX SOLID #EEEEEE; 
FONT-FAMILY : "NEW CENTURY SCHOOLBOOK", TIMES, SERIF; 
COLOR : #000000; 
BACKGROUND-COLOR : #CCCCFF; 
BACKGROUND-IMAGE : url("metalback.gif"); 
} 
A:LINK {
BORDER-BOTTOM : 1PX DASHED ; 
TEXT-DECORATION : NONE; 
COLOR : #EEEEEE; 
} 
A:VISITED {
BORDER-BOTTOM : 1PX SOLID #000066; 
TEXT-DECORATION : NONE; 
COLOR : #000066; 
} 
A:HOVER {
BORDER-BOTTOM : 3PX SOLID #FF0000; 
COLOR : #FF0000; 
} 
A.DASH:LINK {
BORDER-BOTTOM : 1PX DASHED #EEEEEE; 
} 
A.DASH:VISITED {
BORDER-BOTTOM : 1PX DASHED #EEEEEE; 
} 
A.DASH:HOVER {
BORDER-BOTTOM : 3PX SOLID #FF0000; 
} 
H1 , H2 {
FONT-FAMILY : "New Century Schoolbook", Times, serif; 
} 
H3 , H4 , H5 , H6 {
FONT-FAMILY : "New Century Schoolbook", Times, serif; 
} 
.HEAD A {
FONT-FAMILY : "New Century Schoolbook", Times, serif; 
FONT-SIZE : 100%; 
} 
.MENU {
FONT-WEIGHT : BOLD; 
FONT-SIZE : 140%; 
} 
.MAIN {
FONT-SIZE : 12PX; 
} 
.CONTENT {
FONT-SIZE : 80%; 
FONT-WEIGHT : NORMAL;
} 
.CONTENT TH {
FONT-SIZE : 80%; 
FONT-WEIGHT : BOLD; 
} 
.MENU {
FONT-WEIGHT : BOLD;
FONT-SIZE : 140%
BACKGROUND-IMAGE : url("metalback.gif");
}
.MENU_STANDARD {
BACKGROUND-COLOR : #DDDDDD;
BACKGROUND-IMAGE : url("metalback.gif");
BORDER-BOTTOM : #000033 3PX SOLID; 
BORDER-LEFT : #EEEEEE 3PX SOLID; 
BORDER-RIGHT : #000033 3PX SOLID; 
BORDER-TOP : #EEEEEE 3PX SOLID; 
WIDTH : 150PX; 
}
.MENU_SELECTED {
BACKGROUND-IMAGE : url("metalback.gif");
BORDER-BOTTOM : #EEEEEE 3px solid; 
BORDER-LEFT : #000033 3px solid; 
BORDER-RIGHT : #EEEEEE 3px solid; 
BORDER-TOP : #000033 3px solid; 
WIDTH : 150px; 
}
.MENU_SPACER {
BACKGROUND-COLOR : #CCCCDD;
BACKGROUND-IMAGE : url("chipped_obsidian.gif");
WIDTH : 5px; 
}
.FOOTER {
BACKGROUND-COLOR : #CCCCFF; 
BORDER-BOTTOM : 3PX SOLID #EEEEEE; 
BORDER-LEFT : 3PX SOLID #000033; 
BORDER-RIGHT : 3PX SOLID #EEEEEE; 
BORDER-TOP : 3PX SOLID #000033; 
COLOR : #000033; 
BACKGROUND-IMAGE : url("metalback.gif"); 
} 
SUBMIT {
BACKGROUND-COLOR : #CCCCCC; 
BACKGROUND-IMAGE : url("metalback.gif"); 
BORDER-BOTTOM : 3PX SOLID #000033; 
BORDER-LEFT : 3PX SOLID #EEEEEE; 
BORDER-RIGHT : 3PX SOLID #000033; 
BORDER-TOP : 3PX SOLID #EEEEEE; 
COLOR : #000033; 
FONT-FAMILY : TIMES, SERIF; 
FONT-SIZE : 100%; 
FONT-WEIGHT : BOLD; 
MARGIN-LEFT : 3PX; 
MARGIN-RIGHT : 3PX; 
} 
SELECT {
BACKGROUND-IMAGE : url("metalback.gif"); 
BACKGROUND-COLOR : #FFFFFF; 
BORDER-BOTTOM : 3PX SOLID #000033; 
BORDER-LEFT : 3PX SOLID #EEEEEE; 
BORDER-RIGHT : 3PX SOLID #000033; 
BORDER-TOP : 3PX SOLID #EEEEEE; 
COLOR : #333366; 
FONT-FAMILY : TIMES, SERIF; 
FONT-SIZE : 100%; 
FONT-WEIGHT : BOLD; 
MARGIN-LEFT : 3PX; 
MARGIN-RIGHT : 3PX; 
} 
INPUT {
BACKGROUND-IMAGE : url("metalback.gif"); 
BACKGROUND-COLOR : #FFFFFF; 
BORDER-BOTTOM : 3PX SOLID #000033; 
BORDER-LEFT : 3PX SOLID #EEEEEE; 
BORDER-RIGHT : 3PX SOLID #000033; 
BORDER-TOP : 3PX SOLID #EEEEEE; 
COLOR : #000033; 
FONT-FAMILY : courier, monospace; 
FONT-SIZE : 100%; 
MARGIN-LEFT : 3PX; 
MARGIN-RIGHT : 3PX; 
} 
