body {
    background-color: #FFFFFF;
    border: none;
    font-family: sans-serif;
    color: black;
    font-size: 80%;
}

.shell{
    background-color: #ffffff;
    border: 1px #666699 solid;
    color: black;
}

.shellTop{
    background-color: #dddddd;
    border: 1px #666699 solid;
    color: black;
    width: 90%;
}

table.head {
    background: #d0d0d0;
    width: 100%;
    color: #3333ee;
  }

td.head {
    font-weight: bold;
    font-size: 75%;
}

.menu {
    font-size: 95%;
    font-weight: bold;
    width: 100%;
}

.menuIndent {
    width: 14%;
}

.menuSelected {
    background-color: #cccccc;
    color: #000000;
    width: 12%;
    font-size: 100%;
    border-top: 2px #6666aa solid;
    border-left: 2px #6666aa solid;
    border-right: 2px #6666aa solid;
}

.menuStandard {
    background-color: #efefef;
    color: #0000ff;
    width: 12%;
    font-size: 100%;
    border-color: #ddddff; 
    border-style: solid solid none solid; 
    border-width: 2px;
}

.menuStandard .menuLink {
    text-decoration: none;
    background-color : transparent;
    color: #0000ff;
}

.menuSelected .menuLink {
    text-decoration: none;
    background-color : transparent;
    color: #555555;
}

a.menuLink:hover {
    background-color : transparent;
    color: #E80000;
    text-decoration: none;
}

tr.rowEven {
    background-color: #cccccc;
    color: black;
    font-size: 80%;
}

tr.rowOdd {
    background-color: #ffffff;
    color: black;
    font-size: 80%;
}

tr.rowHighlighted {
    background-color: #666666 ;
    color: #eeeeee ;
    font-size: 80%;
}

hr {
    color: gray; 
    background-color: transparent;
}

table.settingsTable {
    border: 1px solid Gray;
}

table.openMessageTable, table.lookupResultsTable {
    border: 2px solid Gray;
}

td.settingsPanel {
    border: 1px solid Gray;
}

td.openMessageCloser {
    text-align: right;
}

td.openMessageBody {
    text-align: left;
}

td.footerBody { 
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0.8em;
    font-size: 75%;
}


td.naked {
    padding: 0px; 
    margin: 0px; 
    border: none
}

table.footer {
    width: 100%;
}

td.accuracy0to49 {
    background-color: red;
    color: black;
}

td.accuracy50to93 {
    background-color: yellow;
    color: black;
}

td.accuracy94to100 {
    background-color: green;
    color: black;
}

div.error01 {
    background-color: transparent;
    color: red;
    font-size: larger;
}

div.error02 {
    background-color: transparent;
    color: red;
}

span.graphFont {
    font-size: 65%;
}

.historyLabel {
    background-color: transparent;
    color: #434fa0;
    font-size: 75%;    
    font-weight: bold;
    text-align: center;
}

.historyLabel a{
   text-decoration: none;
   color: #434fa0;
   background-color: transparent;
}

.historyLabel a:hover {
    background-color: transparent;
    color: #cc1144;
}

.historyLabel em {
    font-style: normal;
    background-color: transparent;
    color: #cc1144;
}

.bucketsWidgetStateOn {
    font-weight: bold;
    background-color: transparent;
    color: #434fa0;
    font-size: 90%;
}

.bucketsWidgetStateOff {
    font-weight: bold;
    background-color: transparent;
    color: #434fa0;
    font-size: 90%;
}

.bucketsLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
}

.magnetsLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
}

.securityLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
}

.configurationLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
    text-align: left;
}

.advancedLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
}

.passwordLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
}

.sessionLabel {
    background-color: transparent;
    color: #434fa0;
    font-weight: bold;
    font-size: 75%;
}

td.logo2menuSpace { 
    height: 0.8em;
}

a.messageLink {
    background-color : transparent;
    color: #3172b0;
}

a.messageLink:hover {
    background-color : transparent;
    color: #cc5566;
}

a.shutdownLink {
    background-color : transparent;
    color: #775555;
    text-decoration: none;
    font-size: 70%;
    font-weight: bold;
}

a.shutdownLink:hover {
    background-color : transparent;
    color: #dd0000;
    text-decoration: none;
}

a.bottomLink {
    text-decoration: none;
    color: #000088;
    background-color: transparent;
}

a.bottomLink:hover {
    background-color : transparent;
    color: #cc1144;
    text-decoration: none;
}

h2.password {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

h2.session {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

h2.history {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

h2.buckets {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

h2.magnets {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

h2.configuration {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

h2.security {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

div.bucketsMaintenanceWidget {
    padding-left: 5%;
}

div.bucketsLookupWidget {
    padding-left: 5%;
}

div.magnetsNewWidget {
    padding-left: 30%;
}

span.securityWidgetStateOn {
    color: #298841;
    background-color: transparent;
    margin-left: 1em;
    font-weight: bold;
    font-size: 75%;
}

span.securityWidgetStateOff {
    color: #298841;
    background-color: transparent;
    margin-left: 1em;
    font-weight: bold;
    font-size: 75%;
}

div.securityPassWidget {
    padding-left: 10%;
}

div.securityAuthWidgets {
    padding-left: 36%;    
    padding-bottom: 0.8em;
}

div.securityExplanation { 
    margin-left: 0.8em;  
    margin-right: 0.7em;
    margin-bottom: 0.8em;
    margin-top: 1.0em;
    font-size: 75%;
}

h2.advanced {
    color: #3c4895;
    background-color: transparent;
    font-size: 82%;
    font-weight: bold;
}

.advancedAlphabet {
    color: #309040;
    background-color: transparent;
    font-size: 90%;
    padding-left: 0.6em;
}    

.advancedAlphabetGroupSpacing {
    color: #309040;
    background-color: transparent;
    font-size: 90%;
    padding-left: 0.6em;
    padding-top: 1.0em;
}    

.advancedWords {
    padding-left: 0.6em;
    font-size: 80% ;
}

.advancedWordsGroupSpacing {
    padding-left: 0.6em;
    padding-top: 1.2em;
    font-size: 80% ;
}

.advancedGroupSpacing { 
    height: 2.5em;  
    vertical-align: text-bottom;
    padding-top: 1em;
  }
    

div.advancedWidgets {
    padding-left: 36%;    
    padding-bottom: 1.0em;
}

.historyWidgetsTop {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.0em;
}

.historyWidgetsBottom {
    width: 100%;
    margin-left: 1.5em;
    margin-top: 1.0em;
}

td.historyNavigatorTop {
    text-align: right;
    padding-right: 0.5em;
}

td.historyNavigatorBottom {
    text-align: right;
    padding-right: 0.5em;
    padding-bottom: 1.0em;
}

.lineImg {
    width: 0.2em;
}

.colorChooserImg {
    width: 0.3em;
}

.submit {
    font-size: 67%;
}

input {
    font-size: 67%;
}

select {
    font-size: 70%;
}

.rowOdd select {
    font-size: 75%;
}

.rowEven select {
    font-size: 75%;
}

.reclassifyButton {
    font-size: 75%;
}

.rowOdd .deleteButton {
    font-size: 75%;
}

.rowEven .deleteButton {
    font-size: 75%;
}

.configWidgetStateOn {
    color: #298841;
    background-color: transparent;
    font-weight: bold;
    font-size: 75%;
}

.configWidgetStateOff {
    color: #298841;
    background-color: transparent;
    font-weight: bold;
    font-size: 75%;
}

.magnetsTable caption {
    font-size: 85%;
    width: 100%;
    text-align: left;
    margin-bottom: 1.0em;
}

