/* styles for handheld devices */

body {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

a:link, a:link:visited {
  text-decoration: underline !important;
}

.openMessageBody {
  font-size: 0.9em;
}

.historyNavigatorBottom {
  display: none;
}

.removeButtonsBottom {
  display: none;
}

.columnControls {
  display: none;
}

.helpMessage {
  display: none;
}

.footer {
  display: none;
}

.configBar {
  position: relative !important;
}

.configBarOption {
  display: block;
  float: none;
}

table.historyTable td, table.historyTable tr {
  display: block;
}

.historyWidgetsTop {
  // padding-top: 2em;
}

.columnControls {
  display: none !important;
}

table.historyTable > tr.rowOdd td, table.historyTable > tr.rowOdd,
table.historyTable > tr.rowEven td, table.historyTable > tr.rowEven {
  display: block !important;
  width: 100% !important;
}

.rowOdd td {
  border: none !important;
}

tr.rowHeader {
  width: auto !important;
  display: block !important;
}

h2.history {
  display: none;
}

td.head {
  font-size: 1.1em;
}

td.historyNavigatorTop {
  display: block;
  text-align: left !important;
}

.historyNavigatorTop form {
  display:inline;
}

td.historyNavigatorTop div.refreshLink {
  display: none;
}

td.menuIndent {
  display: none;
}

th.historyLabel {
  display: block;
  text-align: left;
}

.shell {
  border: 1px;
}

.shellTopCenter, .shellTopRight, .shellTopLeft {
  display: none;
}

.shellRight, .shellLeft {
  display: none;
}

.shellBottomCenter, .shellBottomRight, .shellBottomLeft {
  display: none;
}
