body {
  background-color : #ccccdd; 
  color : #000009; 
  border-bottom : 0 none #aaaaaa; 
  border-left : 0 none #eeeeee; 
  border-right : 0 none #aaaaaa; 
  border-top : 0 none #eeeeee; 
  font-family : "new century schoolbook", times, serif; 
  margin-bottom : 20px; 
  margin-left : 20px; 
  margin-right : 20px; 
  margin-top : 10px; 
}

hr {
  border-bottom: 5px solid #aaaaaa;
  border-top: 5px solid #eeeeee;
  width : 95%;
}

table.head {
  width: 100%;
}

td.head {
  font-weight : bold; 
  font-family : "bookman old style", "new century schoolbook", times, serif; 
  font-size : 175%; 
}

.shell, .shellTop {
  border-bottom : 3px solid #aaaaaa; 
  border-left : 3px solid #eeeeee; 
  border-right : 3px solid #aaaaaa; 
  border-top : 3px solid #eeeeee; 
  font-family : "new century schoolbook", times, serif; 
  color : #000009; 
  background-color : #ccccff; 
}

a:link {
  border-bottom : 1px solid;
  color : blue;
  text-decoration : none; 
  background-color: transparent;
}

a:visited {
  border-bottom : 1px dashed;
  color : #000088;
  text-decoration : none; 
  background-color: transparent;
}

a:hover {
  border-bottom : 1px solid; 
  text-decoration : none; 
}
 
a.dash:link {
  border-bottom : 1px solid; 
}

a.dash:visited {
  border-bottom : 1px dashed;
  color : #000088;
  background-color: transparent;
}
 
a.dash:hover {
  border-bottom : 3px solid;
}

h1 , h2 {
  font-family : "new century schoolbook", times, serif; 
}

h3 , h4 , h5 , h6 {
  font-family : "new century schoolbook", times, serif; 
}

.head a {
  font-family : "new century schoolbook", times, serif; 
  font-size : 100%; 
}

.menu {
  font-weight : bold; 
  font-size : 140%; 
  width: 100%;
}

.main {
  font-size : 12px; 
}
 
.content {
  font-size : 80%; 
  font-weight : normal; 
}

.content th {
  font-size : 80%; 
  font-weight : bold; 
}

.rowEven {
  background-color : #dddddd;
  color : #000009; 
}

.rowOdd {
  background-color: #eeeeee;
  color : #000009; 
}

.menuSelected {
  border-bottom: #eeeeee 3px solid; 
  border-left: #aaaaaa 3px solid; 
  border-right: #eeeeee 3px solid; 
  border-top: #aaaaaa 3px solid; 
  width: 14%; 
  background-color: #ccccff;
  color: black;
}
.menuStandard {
  border-bottom: #aaaaaa 3px solid; 
  border-left: #eeeeee 3px solid; 
  border-right: #aaaaaa 3px solid; 
  border-top: #eeeeee 3px solid; 
  width: 14%; 
  background-color: #ccccff;
  color: black;
}

.menuSpacer {
  width: 1px; 
}

table.footer {
  border-bottom : 3px solid #eeeeee; 
  border-left : 3px solid #aaaaaa; 
  border-right : 3px solid #eeeeee; 
  border-top : 3px solid #aaaaaa; 
  color : #000009; 
  background-color : #ccccff; 
  width: 100%;
  margin-top: 1em;
} 

td.footerBody { 
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.submit {
  margin-left : 3px; 
  margin-right : 3px; 
  color : #0000ff; 
  background-color : #dddddd; 
  border-bottom : 3px solid #aaaaaa; 
  border-left : 3px solid #eeeeee; 
  border-right : 3px solid #aaaaaa; 
  border-top : 3px solid #eeeeee; 
  font-size : 100%; 
  font-weight : bold; 
  font-family : Arial, "Lucinda Sans", sans-serif; 
} 

select {
  margin-left : 3px; 
  margin-right : 3px; 
  color : #0000ff; 
  background-color : #dddddd; 
  border-bottom : 3px solid #aaaaaa; 
  border-left : 3px solid #eeeeee; 
  border-right : 3px solid #aaaaaa; 
  border-top : 3px solid #eeeeee; 
  font-size : 100%; 
  font-weight : bold; 
  font-family : Arial, "Lucinda Sans", sans-serif; 
}

input {
  margin-left : 3px; 
  margin-right : 3px; 
  color : #000009; 
  background-color : #dddddd; 
  border-bottom : 3px solid #aaaaaa; 
  border-left : 3px solid #eeeeee; 
  border-right : 3px solid #aaaaaa; 
  border-top : 3px solid #eeeeee; 
  font-size : 100%; 
  font-family : courier, monospace; 
}

table.settingsTable {
  border: 1px solid Black;
}

table.openMessageTable, table.lookupResultsTable {
  border: 3px solid Black;
}

td.settingsPanel {
  border: 1px solid Black;
}

td.naked {
  padding: 0px; 
  margin: 0px; 
  border: none
}

td.openMessageCloser {
  text-align: right;
}

.menuIndent {
  width: 8%;
}

td.accuracy0to49 {
  background-color: red;
  color: black;
}

td.accuracy50to93 {
  background-color: yellow;
  color: black;
}

td.accuracy94to100 {
  background-color: green;
  color: black;
}

div.error01 {
  background-color: transparent;
  color: red;
  font-size: larger;
}

div.error02 {
  background-color: transparent;
  color: red;
}

span.graphFont {
  font-size: x-small;
}

.bucketsLabel {
  font-weight: bold;
}

.magnetsLabel {
  font-weight: bold;
}

.securityLabel {
  font-weight: bold;
}

.configurationLabel {
  font-weight: bold;
}
    
.advancedLabel {
  font-weight: bold;
}
    
.passwordLabel {
  font-weight: bold;
}

.sessionLabel {
  font-weight: bold;
}

table.historyWidgetsTop {
  width: 100%;
  margin-left: 1.5em;
  margin-top: 0.6em;
  margin-bottom: 1.0em;
}

table.historyWidgetsBottom {
  width: 100%;
  margin-top: 0.6em;
}

td.historyNavigatorTop {
  text-align: right;
}

td.historyNavigatorBottom {
  text-align: right;
}

tr.rowHighlighted {
  background-color: #000000;
  color: #eeeeee;
}

a.shutdownLink {
  font-size: 18pt;
}

td.logo2menuSpace { 
  height: 0.8em;
}

span.bucketsWidgetState {
  font-weight: bold;
}

span.configWidgetState {
  font-weight: bold;
}

span.securityWidgetState {
  font-weight: bold;
}

.historyLabel {
  font-weight: normal;
}

.historyLabel em {
  font-weight: bold;
  font-style: normal;
}

tr.rowBoundary {
  background-color: transparent;
}
